<html>
    <head>
        <title>Portfolio</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="parallax-container">
                <div class="parallax"><img src="https://lorempixel.com/580/250/nature/4"></div>
            </div>
            <div class="section white">
                <div class="row container">
                    <h2 class="header">Hunter Parks</h2>
                    <p class="grey-text text-darken-3 lighten-3">Portfolio</p>
                </div>
                @RenderBody()
            </div>
            <div class="parallax-container">
                <div class="parallax"><img src="https://lorempixel.com/580/250/nature/4"></div>
            </div>
        </div>
    </body>
</html>